$backgroundImageUrl: 'https://www.xmple.com/wallpaper/green-purple-gradient-linear-1920x1080-c2-ba55d3-00fa9a-a-45-f-14.svg';
body {
  background: url($backgroundImageUrl) no-repeat center center fixed;
  background-size: cover;
  // background-position: center;
  // height: 100vh;

}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  &.primary {
    align-items: center;
  }
}
